#Game-outer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Game-display-container {
    height: 100%;
    overflow: hidden;
}

#Game-settings-container {
    background-color: black;
    float: right;
    width: 225px;
    height: 100%;
}