.Settings-speed-range {
    position: relative;
    background-color: grey;
    top: 65px;
    padding: 10px;
    text-align: center
}

.Settings-label {
    text-align: center;
    padding: 2;
    padding-bottom: 5px;
}

input {
    position: relative;
    right: 10px;
}